
<div *ngIf="show">
    <table id="m11"  class="table">
        <thead>
          <tr id="m1">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let emp of employees" id="m2">
            <th scope="row">{{emp.firstName}}</th>
            <td>{{emp.secondName}}</td>
            <td>{{emp.address}}</td>
            <td>{{emp.city}}</td>
            <td>{{emp.state}}</td>
          </tr>
         
        </tbody>
      </table>
      <!-- pagination -->
      <nav id="q1" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="dummy">Previous</a></li>
          <li class="page-item"><a class="page-link" href="dummy">1</a></li>
          <li class="page-item"><a class="page-link" href="dummy">2</a></li>
          <li class="page-item"><a class="page-link" href="dummy">3</a></li>
          <li class="page-item"><a class="page-link" href="dummy">Next</a></li>
        </ul>
      </nav>
      <!-- pagination -->
</div>